<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de Progreso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progressBlue" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progressBlue + '%'"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" [attr.ariaValuenow]="progressRed" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progressRed + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment (changesValue)="progressBlue = $event" leyend="Progress Blue" [progress]="progressBlue"></app-increment>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment (changesValue)="progressRed = $event" leyend="Progress Red" [progress]="progressRed"></app-increment>
            </div>
        </div>
    </div>
</div>